<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Triva Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/reset.css" />
	<link rel="stylesheet" href="./lib/WOW/css/libs/animate.css">
	<link rel="stylesheet" href="./lib/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="./css/slick.css" />
    <link rel="stylesheet" href="./css/styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />


</head>


<body>
    <div id="wrapper">
        <div id="header">
            <div id="wrapper_main">
                <ul class="menu">
                    <li>
                        <image src="./img/Eng.png" />
                    </li>
                    <li>
                        <image src="./img/vn.png" />
                    </li>
                </ul>
                <div class="wow fadeInDown logo-header">
                    <img src="./img/logo.png" />
                </div>
                <div class="video-play wow slideInLeft">
					<a href="https://www.youtube.com/embed/CvuAYN2FT6I?autoplay=1">
						<img src="./img/video-intro.png" />
					</a>
                </div>
                <div class="btn-play wow pulse" data-wow-iteration="infinite" data-wow-duration="1500ms">
                    <a href="http://m.me/Triviaplaygame?game=triviaplaynet">CHƠI NGAY</a>
                </div>
            </div>
        </div>
		
        <div id="container-app">
		
            <div id="container-slider" class="wow fadeInDown">
				<div id="wrapper_main">
					<div class="owl-carousel owl-theme">
						<img src="./img/display1.png" />
						<img src="./img/display2.png" />
						<img src="./img/display3.png" />
						<img src="./img/display4.png" />
						<img src="./img/display1.png" />
						<img src="./img/display2.png" />
						<img src="./img/display3.png" />
						<img src="./img/display4.png" />
					</div>
					<div class="btn_slide controller_next">
						<span class="next">
							<img src="./img/leftbutton.png" />
						</span>
					</div>
					<div class="btn_slide controller_prev">
						<span class="prev">
							<img src="./img/rightbutton.png" />
						</span>
					</div>
				</div>
            </div>
			
            <hr class="container-hr" />
			
            <div id="container-spin">
                <div id="wrapper_main">
                    <h1 class="text">TRIVIAPLAY LÀ GAME GÌ?</h1>
                    <div class="wrapper-spin">
                        <div class="spin-image wow slideInLeft">
                            <img src="./img/spin.png" />
                        </div>

                        <div class="spin-content wow slideInRight ">
                            Trivia là một game đố vui với những câu hỏi dạng trắc nghiệm thú vị ở nhiều chủ đề khác nhau. Các câu hỏi có độ khó – dễ
                            ngẫu nhiên về khoa học, xã hội, 16+, hỏi vui, … Với mỗi câu, bạn sẽ có 15s để lựa chọn đáp
                            án chính xác. Số câu đúng liên tiếp càng cao, level của bạn tăng càng nhanh. Trivia Play là một
                            tựa game trí tuệ giúp bạn có thể kiểm tra kiến thức của mình và thách đấu với bạn bè để xem ai
                            đạt level cao hơn. Các game giải đố thông thường đều thiếu đi tính hấp dẫn và mới lạ nên chúng
                            tôi đã tạo ra một game trắc nghiệm cổ điển mang nét khác biệt - độc đáo và gây nghiện. Hy vọng
                            bạn sẽ có những trải nghiệm thật mới lạ và bổ ích với Trivia Play.
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
			
            <hr class="container-hr" />
			
            <div id="container-faq" class="wow fadeInDown">
                <div id="wrapper_main">
                    <h1 class="text">NHỮNG CÂU HỎI THƯỜNG GẶP</h1>
                    <div class="question">
                        <button class="accordion">Tôi có thể chơi game này bằng cách nào?</button>
                        <div class="accordion-content">
                            <p>Bạn có thể chơi Trivia Play ngay lập tức bằng cách nhấn vào biểu tượng Trò chơi trên ứng dụng Messenger của Facebook. Biểu tượng trông giống như bộ điều khiển trò chơi và nằm gần khung nhập tin nhắn. Một danh sách các trò chơi sẽ hiện ra, bạn chỉ cần chọn Trivia Play và bắt đầu chơi! 
                                    Trivia Play hiện đã có sẵn trên Facebook và ứng dụng Messenger cho iOS và Android. Ngoài ra, bạn còn có thể chơi game thông qua Messenger.com trên trình duyệt máy tính.
                                    Hoặc đơn giản hơn, chơi game ngay bằng cách click vào nút bên dưới.</p>
                            <div class="ques_play">
                                <a href="http://m.me/Triviaplaygame?game=triviaplaynet">PLAY</a>
                            </div>

                        </div>
                    </div>

                    <div class="question">
                        <button class="accordion">Làm cách nào để mời bạn bè chơi cùng tôi?</button>
                        <div class="accordion-content">
                            <p>Bạn có thể mời bạn bè cùng chơi Trivia Play thông qua group chat trên Facebook Messenger. Một khi bạn đã có group chat, chỉ cần nhấn vào biểu tượng game và nhấn chọn Trivia Play. Hoặc đơn giản hơn, bạn có thể nhấn vào biểu tượng mời bạn bè, một danh sách group chat và friend sẽ xuất hiện, bạn chỉ việc chọn group hay người bạn mà mình muốn chơi cùng.</p>
                        </div>
                    </div>
                    <div class="question">
                        <button class="accordion">Tôi được lợi ích gì khi chơi game? </button>
                        <div class="accordion-content">
                            <p>Trivia Play không chỉ đơn thuần là trò chơi đố vui, mà bên cạnh đó game này còn giúp bạn biết thêm được nhiều điều thú vị và bổ ích ở nhiều lĩnh vực khác nhau. Trivia Play gồm nhiều câu hỏi trắc nghiệm được chọn lọc để giúp bạn tiếp thu kiến thức một cách thoải mái và mới lạ nhất.
                                Đây cũng là cơ hội để bạn vận động trí óc thông qua việc trả lời các câu hỏi, theo nghiên cứu thì nó sẽ làm các tế bào thần kinh hoạt động tích cực hơn. Vậy nên, hãy đến với Trivia Play và cùng tập thể dục cho não bộ nhé. </p>
                        </div>
                    </div>
                    <div class="question">
                        <button class="accordion">Đã có app Trivia Play để tải xuống chưa? </button>
                        <div class="accordion-content">
                            <p>Hiện tại, Trivia Play chỉ có sẵn trên Messenger và Facebook. Nhưng chúng tôi đang phát triển phiên bản dành cho app với nhiều tính năng mới lạ hơn nữa và sẽ ra mắt trong thời gian sắp tới. Hy vọng bạn sẽ ủng hộ chúng tôi.</p>
                        </div>
                    </div>
                    <div class="question">
                        <button class="accordion">Tôi có thể đóng góp câu hỏi bằng cách nào?</button>
                        <div class="accordion-content">
                            <p>Đừng ngại ngần hãy gửi câu hỏi về mục inbox của page: <a href="https://www.facebook.com/DoVuiTrivia">PAGE</a>
                                Trivia Play luôn mong chờ những câu hỏi siêu thú vị từ các bạn!</p>
                        </div>
                    </div>
                </div>
            </div>
			
        </div>
        <div id="footer">
            <div id="wrapper_main">
                <div class="footer-info wow slideInLeft">
                    <h1>LIÊN HỆ VỚI CHÚNG TÔI</h1>
                    <p>GET THE LATEST NEWS ON TRIVIA PLAY!</p>
                    <div class="img_socia">
						<a href="https://www.facebook.com/groups/265038620722454/?fref=nf">
							<img src="./img/fb.png" />
						</a>
						<a href="">
							<img src="./img/tw.png" />
						</a>
						<a href="http://m.me/Triviaplaygame?game=triviaplaynet">
							<img src="./img/instant.png" />
						</a>
                    </div>
                </div>
                <div class="footer-ticat wow slideInRight">
                    <img src="./img/ticat2.png" />
                </div>
				<div class="clear"></div>
            </div>

        </div>
    </div>


</body>
<script src="./lib/WOW/dist/wow.js"></script>
<script src="./js/jquery-3.3.1.js"></script>
<script src="./js/slick.js"></script>
<script src="./lib/fancybox/jquery.fancybox.js"></script>
<script src="./js/accordions.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.owl-carousel').slick({
            lazyLoad: 'ondemand',
            slidesToShow: 4,
            slidesToScroll: 1,
            prevArrow: '#container-slider .next',
            nextArrow: '#container-slider .prev',
            autoplay: true,
            autoplaySpeed: 2000,
        });


        var accordions = document.getElementsByClassName("question");
        for(var i = 0; i < accordions.length; i++) {
            accordions[i].onclick = function() {
                this.classList.toggle('is-open');
            } 
        }
		new WOW().init();
		$(".video-play a").fancybox({
			type:'iframe',
			padding:1,
			maxWidth:'80%',
			maxHeight:'80%',
			openEffect:'elastic',
			closeEffect:'elastic',
			closeBtn:true,
		});
    });
</script>

</html>